{% extends 'base.html.twig' %}

{% block title %}Page d'administrateur | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Page d'administrateur</h1>
    <a class="btn btn-success" href="{{ path('campus_list') }}">Gérer les campus</a>
    <a class="btn btn-primary" href="{{ path('ville_list') }}">Gérer les villes</a>
    <a class="btn btn-warning" href="{{ path('user_list') }}">Gérer les utilisateurs</a>
    <a class="btn btn-info" href="{{ path('user_create') }}">Créer un utilisateur</a>
{% endblock %}
