{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | detail Sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button class="btn btn-primary">Enregistrer</button>
    <a class="btn btn-success">Publier</a>
    <a class="btn btn-secondary" href="{{ path('sortie_liste') }}">Retour à la liste</a>
    {{ form_end(sortieForm) }}
{% endblock %}
