<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ms-3" href="{{ path("app_main") }}">
        <img src="{{ asset("images/logoENI.png") }}" width="50" height="50" class="d-inline-block" alt="">
        <span class="d-inlineblock align-middle">Sortir.com</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav me-5">
            {% set currentPath = app.request.attributes.get('_route') %}
            {# %  if app.user %#}
            {%  if true %}{#  todo: repasser en user controle #}
                {%  if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item btn btn-light btn-sm mx-2 {% if currentPath=='admin_home' %}active{% endif %}">
                        <a class="nav-link" href="{{ path("admin_home") }}">Administration</a>
                    </li>
                {%  endif %}
                <li class="nav-item btn btn-light btn-sm mx-2 {% if currentPath=='sortie_list' %}active{% endif %}">
                    <a class="nav-link" href="{{ path("sortie_list") }}">Accueil</a>
                </li>
                {%  if app.user %}
                    <li class="nav-item btn btn-light btn-sm mx-2 {% if currentPath=='sortie_create' %}active{% endif %}">
                    <a class="nav-link" href="{{ path("sortie_create") }}">Créer une sortie</a>
                </li>
                    <li class="nav-item btn btn-light btn-sm mx-2 {% if currentPath=='user_detail' %}active{% endif %}">
                    <a class="nav-link" href="{{ path("user_profile")}}">Mon Profil</a>
                </li>
                <li class="nav-item btn btn-light btn-sm mx-2 {% if currentPath=='app_logout' %}active{% endif %}">
                    <a class="nav-link" href="{{ path("app_logout") }}">Se déconnecter</a>
                </li>
                {% else %}
                    <li class="nav-item btn btn-light btn-sm mx-2 {% if currentPath=='app_login' %}active{% endif %}">
                        <a class="nav-link" href="{{ path("app_login") }}">Se connecter</a>
                    </li>
            {% endif %}
            {%  endif %}
        </ul>
    </div>
</nav>